/* common code starts hear */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    overline: none;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-image: url(nav\ bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* common code ends hear */


/* navbar starts hear */
/* desktop navbar  starts hear */
nav{
    /* background-color: #fff; */
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out 2s;
}

nav >ul{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}



nav a{
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    color:black;
}

 #aa:hover{
   background-color:rgba(255, 255, 255, 0.3);
   border-radius: 20px;
   font-weight: bolder;
}

nav li:first-child{
    margin-right: auto;
}

.dropdown{
    display: none;
    position: absolute;
    font-weight: bolder;
}

.dropdown li{
    padding: 10px 0;
}

nav > ul >li:hover >ul{
    display: block;
    padding: 10px 0;
    background-color:blanchedalmond;
}

/* desktop navbar  ends hear */


 /* Mobile navbar  starts hear */
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
    padding: 15px;
}

.sidebar a{
    width: 100%;
}


span{
    color: #ff7200;
    font-size: 2rem;
    font-weight: bolder;
}
span:hover{
    background-color: transparent;
}

.svg{
    display: none;
  visibility: hidden;

}

.svg:hover{
    border: none;
}
/* Mobile navbar  ends hear */
/* navbar ends hear */


/* main section starts hear */

/* main section ends hear */


























/* madia section starts hear */
@media(max-width: 800px){
    

    .hideOnMobile{
        display: none;
    }

    .svg{
        visibility: visible;
        display: block;
       margin: 10px 10px 0 0;
    
    }

    .svg:hover{
        border-bottom: white;
        box-shadow: 1px 1px 1px black;
    }
}



/* 2nd class and id starts hear */
/* .frist{
    padding-right: 20px;
} */
/* 2nd class and id ends hear */